.Dependency
	flex: 1
	display: flex
	flex-flow: column nowrap
	gap: var(--spacing)

	> *
		margin: 0 var(--spacing)

	> :is(.DependencyPayload, .DependencyDetails)
		flex: 1 1 0
		+rightSpacingScrollable(var(--spacing))

.DependencyPayload
	> .Logs
		height: 100%
