.QueueBar
	--border-size: 1px
	position: relative
	z-index: var(--z-queue-bar)
	height: 100%
	display: flex
	gap: 1px
	align-items: stretch
	background: var(--bg)
	box-shadow: 0 0 0 1px var(--darken-100)

	&::after
		content: ''
		+absolute(0 _ _ 0)
		z-index: calc(var(--z-queue-bar) + 2)
		+size(100% 1px)
		background: var(--shadow)
		box-shadow: 0 1px 0 var(--highlight)

	.progress
		content: ''
		+absolute(-2px _ _ 0)
		height: 2px
		z-index: calc(var(--z-queue-bar) + 1)
		background: var(--info-z600)
		pointer-events: none

	> .Button
		flex: 1 1 auto
		min-width: 0
		height: auto
		font-weight: bold
		border-radius: 0

		&.pause-resume
			min-width: 25%

		> .Icon
			+size(2em)

		> .title
			flex: 0 1 auto
			min-width: 0
			+ellipsis()

		> .Tag
			flex: 0 0 auto
			width: auto
			margin-left: .2em
